*, 
*:before, 
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    min-height: 45vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px 250px;

    .skewedHeader {
        background-color: #3992B2;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        transform: skew(0, -10deg) translateY(-150px);
    }

    .header-img {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 0;
        background-color: gray;
        width: 180px;
        height: 210px;

        .title {
            position: absolute;
            color: White;
            font-size: 1.3rem;
            font-weight: 100;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: max-content;
        }
    }

    .about-me {
        background-color: white;
        color: black;
        width: 100%;
        padding: 10px 10px;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.7);

        h2 {
            margin-bottom: 5px;
        }
    }

    .icon-btns {
        display: flex;
        gap: 15px;
        width: max-content;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 15px;

        > div {
            width: 25px;
            height: 25px;
            
            img {
                width: max-content;
                height: 100%;
            }
        }
    }
}
